.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav {
  display: flex;
  gap: 10px;
  margin-top: 7px;
}

.title {
  margin: 0;
  color: #c6d631;
}

.btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #123a41, #14c599);
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(12, 252, 240, 0.4);
  color: white;
}